@import "ionic.globals";

page-home {
    // Variables
    $card-padding: 5px;

    ion-card-header {
        white-space: normal;
        color: map-get($colors, white) !important;
        background: map-get($colors, dark);
        font-weight: bold;
    }

    .home-content {
        background-color: #ced6e3;
    }

    .goal-grid {
        padding: $card-padding;
        column-count: 2;
        column-gap: 0;
    }

    .goal-grid-item {
        padding: $card-padding;
        display: inline-block;
        width: 100%;
    }

}
