<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let goal of myData.getGoals(); let i = index">
    <ion-card-content>
      <ion-card-title color="secondary-light">
        {{goal.title}}
      </ion-card-title>
      <p class="italics">
        {{goal.descriptionPlan}}
      </p>
      <ion-list>
        <ion-item *ngFor="let subGoal of goal.subGoals; let j = index">
          <ion-label>{{subGoal.title}}</ion-label>
          <ion-checkbox color="dark"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom edge>
    <button (click)="addPage()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <!--<ion-buttons>
      <button ion-button icon-right color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title>"Insert quote or something"</ion-title>
  </ion-toolbar>
</ion-footer>