<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Goal Book</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content">
  <div class="goal-grid">
    <div class="goal-grid-item" *ngFor="let goal of myData.getGoals(); let i = index">
      <ion-card [style.background-color]="goal.color" (click)="openPage(goal, i)">
        <!--<ion-card-header color="white" *ngIf="i % 3 === 0">
          {{goal.title}}
        </ion-card-header>-->
        <ion-card-content>
          <ion-card-title color="secondary-dark">
            {{goal.title}}
          </ion-card-title>
          <p class="italics">
            {{goal.descriptionPlan || 'No description'}}
          </p>
          <ion-list>
            <ion-item *ngFor="let subGoal of goal.subGoals; let j = index">
              <ion-label>{{subGoal.title}}</ion-label>
              <ion-checkbox color="dark"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom edge>
    <button (click)="addPage()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-tabs" color="dark">
    <div class="row">
      <div class="col">
        <h2>{{myData.getGoals().length}}</h2>
        <p>Active goals</p>
      </div>
      <div class="divider"></div>
      <div class="col">
        <h2>0</h2>
        <p>Completed goals</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>