<ion-header>
  <ion-navbar color="primary">
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>My Goal Book</ion-title>

    <ion-buttons end>
      <button (click)="changeGridColumnCount()" ion-button icon-only>
      <ion-icon name="grid"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home-content">
  <ion-grid class="goal-grid-empty" *ngIf="isDataLoaded && myData?.getGoals().length == 0">
    <ion-row center text-center>
      <ion-col>
        <h1>
          You have no active goals
        </h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="goal-grid" [style.column-count]="goalGridColumnCount" *ngIf="myData?.getGoals().length > 0">
    <div class="goal-grid-item" *ngFor="let goal of getFilteredGoals(myData.getGoals(), isCompletedFilter); let i = index">
      <ion-card [style.background-color]="goal.colour" (click)="openPage(i, isCompletedFilter)">
        <ion-card-content>
          <ion-card-title [style.font-size]="calculateTitleFontSize(goal)" color="dark">
            {{goal.title}}
          </ion-card-title>
          <ion-list>
            <ion-item [style.background-color]="goal.colour" *ngFor="let subGoal of goal.subGoals; let j = index">
              <ion-label>{{subGoal.title}}</ion-label>
              <ion-checkbox color="dark"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div>
            <ion-badge *ngFor="let category of goal.categoryLabels" color="dark">{{category}}</ion-badge>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom edge>
    <button (click)="addPage()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-tabs" color="dark">
    <div class="row">
      <!--TODO: Fix so it's more efficient-->
      <div class="col" [class.active]="!isCompletedFilter" (click)="setIsCompletedFilter(false)">
        <h2>{{getFilteredGoals(myData.getGoals(), false)?.length}}</h2>
        <p>Active goal<span *ngIf="getFilteredGoals(myData.getGoals(), true)?.length > 1">s</span></p>
      </div>
      <div class="divider"></div>
      <div class="col" [class.active]="isCompletedFilter" (click)="setIsCompletedFilter(true)">
        <h2>{{getFilteredGoals(myData.getGoals(), true)?.length}}</h2>
        <p>Completed goal<span *ngIf="getFilteredGoals(myData.getGoals(), false)?.length > 1">s</span></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>