@import "ionic.globals";

page-home {
    // Variables
    $card-padding: 5px;

    ion-card-header {
        white-space: normal;
        color: map-get($colors, white) !important;
        background: map-get($colors, dark);
        font-weight: bold;
    }

    .home-content {
        background-color: #ced6e3;
    }

    .goal-grid-empty {
        height: 100%;
        justify-content: center;

        h1 {
            color: map-get($colors, light);
        }
    }

    .goal-grid {
        padding: $card-padding;
        column-count: 2;
        column-gap: 0;
    }

    .goal-grid-item {
        padding: $card-padding;
        display: inline-block;
        width: 100%;
    }

    .footer-tabs {
        text-align: center;
        color: white;
        p, h2, .col {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        p {
            color: grey;
        }        

        h2 {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .divider{
            position: absolute;
            left: 50%;
            top: 25%;
            bottom: 25%;
            border-left: 1px solid grey;
            opacity: 0.6;
        }
    }

}
