<ion-header>
  <ion-navbar color="primary">
    <ion-title>Create a new goal</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="newGoal" #form="ngForm" novalidate>
    <ion-item>
      <ion-label floating>I want to...</ion-label>
      <ion-input type="text" required [(ngModel)]="newGoal.title" name="title" ngControl="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>How will you accomplish this?</ion-label>
      <ion-textarea [(ngModel)]="newGoal.descriptionPlan" name="description" ngControl="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <div>
        <ion-badge *ngFor="let category of newGoal.categoryLabels" color="dark">{{category}}</ion-badge>
      </div>
       <button ion-button (click)="chooseCategories()" name="category" ngControl="category">Choose categories</button>
    </ion-item>

    <ion-footer>
      <ion-toolbar>
        <button full ion-button (click)="createNewGoal()" color="secondary" block>Create Goal</button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>