<!--
  Generated template for the Goal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="secondary-dark">{{myGoal?.isCompleted ? "Goal Completed" : "Goal Active" }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="secondary-dark">
        <ion-icon name="create"></ion-icon>
      </button>
      <!--<button (click)="toggleCompletion()" ion-button icon-only clear color="secondary-dark">
        <ion-icon name="checkmark"></ion-icon>
      </button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [style.background-color]="getBackgroundColour()" padding>

  <ion-card>
    <ion-card-header>
      My Goal
    </ion-card-header>
    <ion-card-content>
      <ion-card-title color="dark">
        {{myGoal?.title}}
      </ion-card-title>
      <div>
        <p>Created on {{myGoal?.createdDate || '' | date: 'short'}}</p>
        <ion-badge *ngFor="let category of myGoal?.categoryLabels" color="dark">{{category}}</ion-badge>
      </div>
    </ion-card-content>

    <hr>

    <ion-card-header>
      My Plan
    </ion-card-header>
    <ion-card-content>
      <ion-card-title color="dark">
        {{myGoal?.descriptionPlan}}
      </ion-card-title>
      {{myGoal?.descriptionPlan}}
    </ion-card-content>

    <hr>

    <ion-card-header>
      My Progress
    </ion-card-header>
    <ion-card-content>
      <ion-card-title color="dark">

      </ion-card-title>
      <div>
        <p>3 Days since start of goal</p>
        <p>150 Days until</p>
      </div>
    </ion-card-content>

    <hr>

    <ion-card-header>
      My Milestones
    </ion-card-header>
    <ion-card-content>
      <ion-card-title color="dark">
        <!--<ion-icon name="add-circle"></ion-icon>-->
        <button ion-button outline (click)="addItem()" color="secondary">Add Milestone</button>
      </ion-card-title>
    </ion-card-content>

    <ion-list>
      <ion-list-header>
        Milestones
      </ion-list-header>
      <!--[class.completed]="item.isCompleted" (click)="viewItem(item)" (swipe)="toggleItemCompletion(item)" (press)="deleteItem(i)"-->
      <ion-item-sliding *ngFor="let task of myGoal?.subGoals; let i = index">
        <ion-item>
          <h1>{{task.title}}</h1>
          <span ion-text item-start class="item-bold" color="secondary">15 days left</span>
          <span ion-text item-start color="subtle">(weighting)</span>
          <button ion-button color="danger" clear item-end icon-left><ion-icon name="checkmark"></ion-icon>Complete</button>
        </ion-item>

        <ion-item-options>
          <button ion-button color="primary" (click)="archive()">Archive</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <hr>

  <ion-card>
    <ion-card-header>
      Accomplishments
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        TODO:
      </ion-card-title>
      <p>
        Notes:
      </p>
      <p>
        Habits:
      </p>
      <p>
        Sub Goals:
      </p>
      <p>
        Time left:
      </p>
    </ion-card-content>
  </ion-card>

  <!--<ion-fab right bottom edge>
    <button ion-fab color="secondary"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>-->
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
  
          <button (click)="toggleCompletion()" ion-button clear color="energized">
            <span *ngIf="!myGoal?.isCompleted">
              Mark As Complete
            </span>
            <span *ngIf="myGoal?.isCompleted">
              Mark As Incomplete
            </span>
          </button>

          <!--<div>
            <h2>15</h2>
            <p>Days left for target completion</p>
          </div>-->
        </ion-col>
        <ion-col>
          <!--<ion-title end>Created on {{myGoal && myGoal.createdDate}}</ion-title>-->
          <ion-buttons start>
            <!--<button ion-button icon-only icon-left color="royal">
              <ion-icon name="alarm"></ion-icon>
              </button>
              <button ion-button icon-only icon-left color="royal">
              <ion-icon name="archive"></ion-icon>
              </button>-->
            <!--<button ion-button icon-only icon-left color="royal">
              <ion-icon name="bookmark"></ion-icon>
              </button>-->
            <button (click)="showChangeColourPopup()" ion-button icon-only icon-left color="secondary-dark">
              <ion-icon name="color-palette"></ion-icon>
              </button>
            <button (click)="goToCategoryPage()" ion-button icon-only icon-left color="secondary-dark">
              <ion-icon name="pricetags"></ion-icon>
              </button>
            <!--<button ion-button icon-only icon-left color="royal">
              <ion-icon name="settings"></ion-icon>
              </button>-->
            <button (click)="deleteGoal()" ion-button icon-left color="secondary-dark">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>